<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 5 years of experience as a software engineer, and have worked
            mostly at banking sector projects. While I'm a proficient Java
            developer, my expertise is in building scalable backend services (Java,Spring,Hibernate,Web Services,API services).
        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for a senior individual contributor role where I can take on collaborative
           team leadership responsibilites, and gain experience with
           architecture and project management.
	   I'm always interested in becoming a better technology leader, and meeting interesting people.
        </p>
	<p>
	<a href="https://www.linkedin.com/in/vinod-jagdale/">See my LinkedIn profile</a>
	 for more career details.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
	    Involed in development of complex Banking application of client <a href="https://www.bper.it/">BPER</a>  and 
	    <a href="https://www.intesasanpaolo.com/">Intesa Sanpaolo</a>,Italy
    			</li>
          <li>
	    Developed software <a href="https://www.softpedia.com/get/Office-tools/Clipboard/Copy-Clipboard.shtml">CopyClipboard</a> to solve the problem of multiple copy and paste problem
            of conventional clipboard.
            
          <li>
            Designed effiecient,reusable and reliable systems.
    			<li>
			Bachelor Degree in I.T with <b>Distinction </b> from <a href="http://www.unipune.ac.in/">Pune University</a>.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
