<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Deep learning</b>. It's an exciting time for machine learning. I'm working through several online classes, and swap articles with collegues.
			  </li>
			  <li>
				  <b>Invent or Improvise existing</b>. I've always been an enthusiastic hobbiest since I was a teenager . I like to invent things or improvise existing things. 
				  Big fan of Science.
			  </li>
			  <li>
				  <b>Gymming</b>. I have belief that if we want to live happy then our health should be our first priority.
				  I train Harder.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  		     <li>
			     <b>SMARTWEB</b> of BPER, is an application used to enable the Post Sales process of the Smart Web product through the BStore sales portal.
    		     </li>
  			<li>
				<b>Surroghe</b> of Intesa Sanpaolo , is an application used for internal manipulation of loan processing and invoice details for internal purpose by bank employees
  			</li>
  		    </ul>
  		    <h3>Current Job</h3>
  		    <ul>
  			<li>
				Currently working as <b>Software Engineer</b> in JPMorgan chase , Mumbai (since Jun,2019).
  			</li>
  			<li>
				Earlier was working as <b>Consultant</b> in Capgemini India,Mumbai .
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
